#f1{
    width: 360px;
    height: 350px;
    position: absolute;
    left: 70%;
    
    top: 40%;
}

#Caja1{

font-size: 150%;
height: 300px;
width: max-content;
}

#ab{
    color: #5DC460 ;
    font-size: 300%;
}